.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btninbtn{
  border: 1px solid black;
  border-radius: 20px;
}
.register{
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgb(235, 236, 236);
  
}
.resinp{
  margin: 15px;
  width: 70%;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
/* #btnregister{
background: linear-gradient(90deg,rgb(1, 1, 255) , rgb(99, 58, 160));
color: white;
border-radius: 20px;
} */
#btnlogin{
  background: none;
  border-radius: 20px;
  }
/* .loginform{
  display: none;
} */
.submitbtn{
  width: 150px;
  height: 30px;
}
